defaults
   mode http
   timeout connect 5000
   timeout client 50000
   timeout server 50000

frontend fe_main
   # Development proxy: accept ws:// on port 80 and use TLS to each VUU backend.
   bind *:80
   acl is_portal path /websocket-portal
   acl is_user_admin path /websocket-user-admin
   acl is_basket_trading path /websocket-basket-trading
   use_backend portal_server if is_portal
   use_backend user_admin_server if is_user_admin
   use_backend basket_trading_server if is_basket_trading
   default_backend generic_vuu_server

backend portal_server
    option http-server-close
    timeout tunnel 1h
    server s1 127.0.0.1:8091 check ssl verify none

backend user_admin_server
    option http-server-close
    timeout tunnel 1h
    server s1 127.0.0.1:8092 check ssl verify none

backend basket_trading_server
    option http-server-close
    timeout tunnel 1h
    server s1 127.0.0.1:8093 check ssl verify none

backend generic_vuu_server
    option http-server-close
    timeout tunnel 1h
    server s1 127.0.0.1:8095 check ssl verify none
